[Unit]
Description=Truhlik Controller Service
After=network.target multi-user.target sysinit.target dev-gpiomem.device
Requires=dev-gpiomem.device


[Service]
User=root
Group=gpio
SupplementaryGroups=gpio
WorkingDirectory=/opt/truhlik/app
ExecStart=/bin/bash -c 'sleep 15 && /opt/truhlik/venv/bin/python -u /opt/truhlik/main.py'
Restart=always
RestartSec=5

# Přesměrování logů do souboru
StandardOutput=append:/opt/truhlik/log_app.log
StandardError=append:/opt/truhlik/log_app.log

[Install]
WantedBy=multi-user.target
