[Unit]
Description=Truhlik Controller Service
After=network.target

[Service]
User=pavelhalbich
WorkingDirectory=/opt/truhlik/app
ExecStart=/opt/truhlik/venv/bin/python -u /opt/truhlik/app/main.py
Restart=always
RestartSec=5

StandardOutput=append:/opt/truhlik/log_app.log
StandardError=append:/opt/truhlik/log_app.log

[Install]
WantedBy=multi-user.target
